{% extends 'shop/base.html' %}
{%load static%}



{%block content%}
<style> .section-padding {
    padding: 0px 0;
}  </style>
 <section class="price-area section-padding" id="price">
        <div class="container">
            <div class="row">
                <div class="text-center col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title">
                        <h2>{{question.subject}}</h2>
                        </div>
                        {{question.description}}
                        {{question.name}}
                </div>
            </div>
            <br><br><br>
            <div class="row">
<form action="" method="POST">
    {% csrf_token%}
    {{form.name}}
    {{form.description}}
    <input class="btn btn-success" type="submit" value="Confirmer">
</form>
                {%for response in Responses%}
                {{question.response.name}}
                {%endfor%}
            </div>
            </div>
</section>
<br>
<br>
<br>
     {%endblock%}